<dl>
  <dt ng-if="booking.date">När</dt>
  <dd ng-if="booking.date">{{booking.date}}</dd>
  <dt ng-if="booking.showAddress">Var</dt>
  <dd ng-if="booking.showAddress">{{booking.host.address}}</dd>
</dl>

<h2>Värd</h2>
<a href="#/host/{{booking.host._id}}">
  <user-card user="booking.host"></user-card>
</a>

<h2>Gäst</h2>
<a href="#/host/{{booking.guest._id}}">
  <user-card user="booking.guest"></user-card>
</a>

<footer>
  <p ng-if="error">{{error}}</p>
  <button type="button" ng-if="rejectable" ng-click="reject()">Avboka</button>
  <button type="button" ng-if="acceptable" ng-click="accept(newBooking.date, newBooking.time)">Bekräfta</button>
  <input type="date" ng-if="acceptable" ng-model="newBooking.date" placeholder="YYYY-MM-DD">
  <input type="time" ng-if="acceptable" ng-model="newBooking.time" placeholder="HH:MM">
</footer>
