<dl>
  <dt ng-if="booking.date">När</dt>
  <dd ng-if="booking.date">{{booking.date}}</dd>
  <dt ng-if="booking.showAddress">Var</dt>
  <dd ng-if="booking.showAddress">{{booking.host.address}}</dd>
</dl>

<h2>Värd</h2>
<div class="hosts-item-header layout-row">
  <img class="hosts-item-profileimage" ng-src="{{booking.host.profileImageUrl}}">
  <hgroup class="hosts-item-header-content">
    <h1 class="hosts-item-name">
      <a href="#/host/{{booking.host._id}}">{{booking.host.name}}</a>
    </h1>
    <h2 class="hosts-item-location">&mdash; {{booking.host.city}}</h2>
  </hgroup>
</div>

<h2>Gäst</h2>
<div class="hosts-item-header layout-row">
  <img class="hosts-item-profileimage" ng-src="{{booking.guest.profileImageUrl}}">
  <hgroup class="hosts-item-header-content">
    <h1 class="hosts-item-name">
      <a href="#/host/{{booking.guest._id}}">{{booking.guest.name}}</a>
    </h1>
    <h2 class="hosts-item-location">&mdash; {{booking.guest.city}}</h2>
  </hgroup>
</div>

<footer>
  <p ng-if="error">{{error}}</p>
  <button type="button" ng-if="rejectable" ng-click="reject()">Avboka</button>
  <button type="button" ng-if="acceptable" ng-click="accept(newBooking.date, newBooking.time)">Bekräfta</button>
  <input type="date" ng-if="acceptable" ng-model="newBooking.date" placeholder="YYYY-MM-DD">
  <input type="time" ng-if="acceptable" ng-model="newBooking.time" placeholder="HH:MM">
</footer>
