//@import url(http://fonts.googleapis.com/css?family=Cutive+Mono);
//@import url(http://fonts.googleapis.com/css?family=Cutive);

@font-face {
  font-family: Volkhov;
  font-weight: normal;
  font-style: normal;
  src: url('../../fonts/Volkhov-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Volkhov;
  font-weight: bold;
  font-style: normal;
  src: url('../../fonts/Volkhov-Bold.ttf') format('truetype');
}

@font-face {
  font-family: Volkhov;
  font-weight: normal;
  font-style: italic;
  src: url('../../fonts/Volkhov-Italic.ttf') format('truetype');
}

@font-face {
  font-family: Volkhov;
  font-weight: bold;
  font-style: italic;
  src: url('../../fonts/Volkhov-BoldItalic.ttf') format('truetype');
}

//@ff-mono: Cutive Mono;
@ff-serif: Volkhov;
@ff-sans-serif: Helvetica Neue, Helvetica, Arial, sans-serif;

@fs-base: 16px;

.fs-rem(@size) {
  font-size: unit((@size/@fs-base), rem);
}

/* Sizes
============================================================================= */

.fs-small {
  .fs-rem(14);
}

.fs-normal {
  .fs-rem(16);
}

.fs-big {
  .fs-rem(20);
}

.fs-large {
  .fs-rem(26);
}
