* {
  box-sizing: border-box;
}

body {
  background-color: @color-white;
  color: @color-black;
  font: unit((@fs-base/16 * 100), %)/1.5 @ff-serif;
}

a {
  color: @color-black;
  font-weight: bold;
  text-decoration: none;
}
