.hosts {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &-item {
    padding: 20px 0;
    overflow: hidden;

    &-header {
      &-content {
        float: left;
      }
    }

    &-profileimage {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      margin-right: 10px;
      float: left;
    }

    &-name {
      .fs-big;
    }
  }
}
